

  @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Nunito&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
    background-color: rgb(255, 255, 255);
    min-height: 100vh; /* Assure que le corps prend au moins 100% de la hauteur de la vue */
    margin: 0;    
}
h3 {
    text-align: center;
}

p {
    text-align: center;
}






#wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

a{
    text-decoration: none;
    color: #000000ce;
}
    

#contenu h2 {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 30px;
}

/* ---------------- NAVIGATION-------------------------*/
nav{
    background: green;
    padding: 25px;
    margin-bottom: 10px;
  
}
nav, .navigation{
    display: flex;
    justify-content: space-around;
    
}
ul, li {
    display: flex;
    
    text-decoration: none;
 
}

.navigation a {
    text-decoration:  none;
    font-family: 'Nunito', sans-serif;
    color: white;
    padding: 15px;
   
}

@media screen and (max-width:  500px) {
    a {
        font-size: 8px;
       
    }
}


/* ---------------- FIN NAVIGATION-------------------------*/
/*------------------DEBUT PAGE D'ACCUEIL------------------*/
section .accueil {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family :Verdana, Geneva, Tahoma, sans-serif

   

}

.accueil  h1 {
    text-align: center;
}

.welcome {
    margin-bottom: 15px;
}

.explication p {
    margin-bottom: 40px;
    color : rgb(61, 60, 60);
    
}
 ol, li {
    display: flex;
    flex-direction: column;
  
   align-content: center;
   
  
}
li{
    margin-bottom: 8px;
}

img {width: 300px;
    
}
.img {
    display: flex;
    justify-content: center;
}
@media screen and (max-width:  500px)  {
    .accueil .explication h3 {
        font-size: 12px;
    }
    .accueil .secondtitle h2 {
        font-size: 12px;
    }
}


/*------------------FIN PAGE D'ACCUEIL------------------*/

 /* --------------début du formulaire d'AJOUT FEUILLE -----------------*/
  
  
  

   .iaLink button {
    padding: 25px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
   }
   .iaLink button:hover {
    background: rgb(199, 198, 198);
   }
   
.formFeuille {
  
    width: 50%; /* Largeur maximale du formulaire */
    margin: 0 auto; /* Centrage du formulaire */
    padding: 20px; /* Espace intérieur du formulaire */
    border: 1px solid #000000; /* Bordure du formulaire */
    border-radius: 5px; /* Coins arrondis */
    background: #f9f9f9; /* Couleur de fond du formulaire */
    box-sizing: border-box;
}

/* Espacement entre les éléments du formulaire */
.formFeuille label,
.formFeuille input {
    display: block; /* Les éléments s'affichent en bloc (un en dessous de l'autre) */
    margin-bottom: 10px; /* Espace entre les éléments */
}

/* Style pour le bouton "Ajouter une feuille" */
.formFeuille input[type="submit"] {
    padding: 10px; /* Espace à l'intérieur du bouton */
    background: #4CAF50; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte du bouton */
    border: none; /* Suppression de la bordure */
    border-radius: 3px; /* Coins arrondis du bouton */
    cursor: pointer; /* Curseur de type pointer au survol */
}

.formFeuille input[type="text"] {
    width: 100%;
}
.formFeuille input[type="file"] {
    width: 100%;
}

.updateFeuille  {
   margin-top: 20px;
    text-align: center;
}

.updateFeuille button {
    padding: 15px;
    border-radius: 8px;
    font-size: 15x;
    cursor: pointer;
}
.updateFeuille button:hover {
    background-color: #4CAF50;
}
@media screen and (max-width:  600px) {
   .formFeuille label {  
    display: flex;
    justify-content: center;}
  .formFeuille{ 
    max-width: 180px;
  }
  
.formFeuille label {
    max-width: auto;
}
.formFeuille textarea {
    width: 100%;;
}
}

/*----------------FIN du formulaire d'AJOUT FEUILLE----------------*/





/* --------------début du formulaire REGISTER -----------------*/
  
.register {
    display: flex;
    justify-content: center;
    
    
    
    max-width: 400px; /* Largeur maximale du formulaire */
    margin: 0 auto; /* Centre le formulaire horizontalement */
    padding: 20px; /* Espace intérieur du formulaire */
    margin-top: 40px;
    border: 1px solid #000000; /* Bordure du formulaire */
    border-radius: 5px; /* Coins arrondis du formulaire */
    background: #f9f9f9; /* Couleur de fond du formulaire */
}

/* Espacement entre les éléments du formulaire d'inscription */
.register label,
.register input {
    display: block; /* Les éléments s'affichent en bloc (un en dessous de l'autre) */
    margin-bottom: 10px; /* Espace en bas de chaque élément */
}

/* Style pour le bouton "S'enregistrer" */
.register input[type="submit"] {
    margin-top: 20px;
    margin-left: 22px;
    padding: 10px; /* Espace à l'intérieur du bouton */
    background: #4CAF50; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte du bouton */
    border: none; /* Suppression de la bordure */
    border-radius: 3px; /* Coins arrondis du bouton */
    cursor: pointer; /* Curseur de type pointer au survol */
}


@media screen and (max-width:  1000px) {
  .register{
    max-width: 200px;
  }
}
/* --------------FIN du formulaire REGISTER -----------------*/

 


/* -------------------DEBUT FORMULAIRE LOGIN------------------------------------------------ */

.formLogin {
    display: flex;
    justify-content: center;
    max-width: 300px; /* Largeur maximale du formulaire */
    margin: 0 auto; /* Centre le formulaire horizontalement */
    padding: 20px; /* Espace intérieur du formulaire */
    border: 1px solid #000000; /* Bordure du formulaire */
    border-radius: 5px; /* Coins arrondis du formulaire */
    background: #f9f9f9; /* Couleur de fond du formulaire */
}

/* Espacement entre les éléments du formulaire de connexion */


.formLogin label,
.formLogin input {
    display: block; /* Les éléments s'affichent en bloc (un en dessous de l'autre) */
    margin-bottom: 10px; /* Espace en bas de chaque élément */
  text-align: center;
   
}


/* Style pour le bouton "Se connecter" */
.formLogin input[type="submit"] {

    margin-left: 35px;
    padding: 10px; /* Espace à l'intérieur du bouton */
    background: #4CAF50; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte du bouton */
    border: none; /* Suppression de la bordure */
    border-radius: 3px; /* Coins arrondis du bouton */
    cursor: pointer; /* Curseur de type pointer au survol */
   
}
.formLogin input[type="password"] {
    margin-bottom: 10px;
}

@media screen and (max-width:  1000px) {
    .formLogin {
        max-width: 200px;
    }
}
/* -------------------FIN FORMULAIRE LOGIN---------------------------- */

/*---------------DEBUT PROFILE-------------------------------*/
.profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    
}
.profileLink {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
   border: solid gray 0.6px;
   padding: 8px;
   margin-bottom: 12px;
}
.profile a {
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color :#000000;
    font-weight: bold;
    font-family: 'Nunito';
}
.profile p {
    margin-top: 8px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}


/*---------------FIN PROFILE---------------------------------

/*--------------DEBUT LIST LANGUE -------------------*/
.langues {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.langue {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: end;
    
}

.langue  a {
    text-decoration: none;
    font-size:  50px;
    color: #000000;
}  



/*--------------FIN LIST LANGUE -------------------*/






/*--------------DEBUT DETAIL LANGUE -------------------*/
.lettres {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /*va mettre automatiqement les éléments à la ligne lorsque nécessaire*/
    gap: 20px;
}
.lettres a {
    text-decoration: none;
}
.lettre {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #2c2c2c;
    border-radius: 8px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    transition: background 0.7;
}
.lettre:hover {
    background-color: #c4bcbc;
}

.lettre {
    color: red;
    font-size: 40px;

    font-family: 'Lilita One', sans-serif;

}
/*--------------FIN DETAIL LANGUE -------------------*/

/*-----------DEBUT DETAIL LETTRE------------------*/
 .detailLettres {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre verticalement */
    align-items: center; /* Centre horizontalement */
    font-family:sans-serif ;
    }

.detailLettres a {
        margin-bottom: 20px;
    }
    .detailLettres p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 4px;
    }


 .detailLettre {

    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre verticalement */
    align-items: center;

  }
 .detailLettre .lettre {
    margin-bottom: 0.2px;
  }

  .detailLettre a {
   
    text-decoration: none;
    font-family: sans-serif;
    margin-top: 30px;

  }
  .detailLettres button{
    font-size: 15px;
    padding: 6px;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    cursor: pointer;
  }
  
  

.detailFeuille button:hover {
    background-color: green;
    font-weight: bold;
}
  .linkAddFeuille {
    margin-top: 20px;
  }

  .linkAddFeuille:hover {
    font-size: 20px;
  }

  .linkAddFeuille button {
    display: block;
    margin: 0 auto;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 8px;
  }

  .linkAddFeuille button:hover {
    background-color: green;
    font-weight: bold;
  }

   .deleteFeuille button {
    padding: 7px;
    font-size: 15px;
    
    border-radius: 7px;
  }
  .detailLettres .deleteFeuille button:hover {
    background-color: red;
    font-weight: bold;
  }
 
           
/*-----------FIN DETAIL LETTRE------------------*/

/*--------------DEBUT DETAIL FEUILLE -----------------*/
.detailFeuilles {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}
.detailFeuilles a {
    text-decoration: none;
    color: #000000;
}

/*--------------FIN DETAIL FEUILLE -----------------*/

/*---------------FOOTER-------------------*/
footer { 
    background-color: green;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-bottom: auto;
    flex-shrink: 0;
   

    

}
footer a {
    color : white;
}

  

footer .colonnes {
    
    justify-content: space-between;

}
footer .colonne h4 {
    margin-right: 25px;
    color: rgba(255, 255, 255, 0.938);
    
}

.mentionLegales {
    text-align: center;
   
}

.conditionsUtilisation {
    
    flex-wrap: wrap;
    justify-content: center; /* Centre les paragraphes horizontalement */
    
    text-align: center; 
}
.conditionsUtilisation h4 {
   margin-top: 15px;
}

.politiqueConfi h4 {
    margin-top: 15px;
    margin-bottom: 5px;
}



@media screen and (max-width:  800px) {
    footer {
   
    flex-direction: column;
    
    
    }
     .colonne {
        margin-top: 8px;
     }
}

